{% extends 'user_base.html' %}
{% block title %}
    <title>Manager cabinet</title>

{% endblock %}
{% block main %}
    <section class="user">
        <div class="userbox">
            <div class="userbox-title">
                <p>Add a new item</p>
            </div>

            <div class="userbox-change-options" >
                <div class="row user-change">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File image</span>
                                <input type="file" name="photo">
                            </div>
                            <div class="file-path-wrapper">
                                <label for="photo">
                                    <input id="photo" class="file-path validate" type="text">
                                </label>
                            </div>
                        </div>
                        <div class="manager-form">
                            {{ form.as_p }}
                        </div>
                        <input type="submit" value="Submit" class="btn">
                    </form>

                </div>
            </div>
        </div>

        <div class="wish-list" id="all-items">
            <div class="wish-title"><p> All Items </p></div>
            {% for item in  Items %}

                <div class="wish-item">
                    <p class="wish-item-img"><img src="{{ item.image.url }}" alt="{{ item.title }} "></p>
                    <p class="wish-item-name">{{ item.title }}</p>
                    <p class="wish-item-cost">{{ item.price }} $</p>
                    <div class="short-description">{{ item.short_description }}</div>
                    <div class="long-description">{{ item.long_description }}</div>
                    <form action="remove/{{ item.id }}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn" value="Удалить">
                    </form>
                </div>

            {% endfor %}

        </div>
    </section>
{% endblock %}