{% extends 'user_base.html' %}
{% load static %}
{% block title %}

    <title>Cabinet</title>
{% endblock %}
{% block main %}
    <section class="user">
        <div class="userbox">
            <div class="userbox-title">
                <p>About you</p>
            </div>
            <div class="userbox-main-info">
                <div class="userbox-info-image"><img src="{{ user.profile.photo.url }}" alt="{{ user.profile.name }}"
                                                     style="height: 250px; width: 250px">
                </div>
                <div class="userbox-person-info">
                    <p class="userbox-email-info">Email: {{ User.email }} </p>
                    <div class="userbox-name-info">Name: {{ User.first_name }}</div>
                    <div class="userbox-surname-info">Surname : {{ User.last_name }}</div>
                    <div class="userbox-phone-info">Phone : {{ User.profile.phone_number }}</div>
                    <div>Your address: {{ User.profile.address }}</div>
                </div>

            </div>
            <div class="userbox-change-options">
                <div class="row user-change">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File photo</span>
                                <input type="file" name="photo">
                            </div>
                            <div class="file-path-wrapper">
                                <label for="photo">
                                    <input id="photo" class="file-path validate" type="text">
                                </label>
                            </div>
                        </div>
                        {{ form.as_p }}
                        <input type="submit" value="Submit" class="btn">
                    </form>

                </div>
            </div>
        </div>
        <div class="wish-list">
            <div class="wish-title"><p> Wish List</p></div>
            {% for wish in  WishedItems %}

                <div class="wish-item">
                    <p class="wish-item-img"><img src="{{ wish.item.image.url }}" alt="{{ wish.item.title }} "></p>
                    <p class="wish-item-name">{{ wish.item.title }}</p>
                    <p class="wish-item-cost">{{ wish.item.price }} $</p>
                    <a class="btn-floating btn waves-effect waves-light red js-add-cart" value="{{ wish.id }}"><i
                            class="material-icons">add</i></a>
                    <a class="btn-floating btn waves-effect waves-light red js-remove-list-item"
                       value="{{ wish.id }}"><i
                            class="material-icons">close</i></a>
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock %}